.searchTools {
  display: flex;
  padding: 60px 20px 10px;
  background-color: white;
  .searchToolsItem {
    height: 50px;
    margin-right: 10px;
    .ant-cascader-input {
      height: 40px;
    }
    .ant-btn {
      height: 40px;
    }
  }
  .myFont {
    padding-top: 10px;
  }
}
